.container {
    display: flex; /*declarar que es Flexbox */
    flex-wrap: wrap;
    width: 100%;
}

.child1, .child2, .child3, .child4, .child5 {
    border: 1px solid blue;
    width: 100% 
}

@media (min-width: 600px){
    /*Ejecuta codigo si se cumple */
    .child1, .child2, .child3, .child4, .child5 {
     width: 49%;   
    }
}

@media (min-width: 800px){
    .child1 {
        width: 59.5%;
    }
    
    .child2 {
        width: 39.5%;
    }
    
    .child3, .child4, .child5 {
        width: 33%;
    }
    
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto; /* Los dos margenes hace que se centre en medio*/
    }
}