/* Always set the map height explicitly to define the size of the div element that contains the map. */

*  {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-mx-box-sizing: border-box;
}

#map {
height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}