.sundae {
    border: 1px solid blue;
    position: static;
    width: 20%;
    height: 1300px;
    margin-top: 50px;
}

.scoop {
    border: 1px solid orange;
}

.sundae > scoop {
    height: 100px;
}

.glass {
    position: relative;
    height: 60%;
}

.glass .scoop{
    position: relative;
    height: 33%;
}

.cream {
    position: fixed;
    top: 0px;
}

.cherry {
    position: absolute;
    top: 3px;
    left: 100px;
}

.glasscherry{
    position: absolute;
    bottom: 50px;
}